.navbar {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: grid;
  align-items: center;
}
.logo img {
  height: 45px;
  cursor: pointer;
}

.pages {
  display: flex;
  align-items: center;
}
.cart {
  height: 25px;
  cursor: pointer;
}
.user {
  height: 40px;
  margin-left: 15px;
  border: 1px solid #a1a1a1;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
.annonymous a {
  margin-left: 30px;
  text-decoration: none;
}
.login {
  color: black;
  font-weight: 500;
  border: 1px solid #e51a4b;
  border-radius: 25px;
  padding: 10px 35px;
}
.signup {
  display: inline-block;
  padding: 10px 35px;
  background-color: #e51a4b;
  border-radius: 25px;
  color: white;
  font-weight: 500;
}

/* ##### mobile device ##### */
@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    padding: 5px 0;
  }
  .logo , .pages{
    padding: 10px 0;
  }
}
